@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Add Item Form -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded p-4">
        <h6 class="mb-4">Add New Item</h6>
        <form>
            <div class="row mb-3">
                <div class="col">
                    <label class="form-label text-white">Title</label>
                    <input type="text" class="form-control" placeholder="Enter item title">
                </div>
                <div class="col">
                    <label class="form-label text-white">Description</label>
                    <input type="text" class="form-control" placeholder="Enter description">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label class="form-label text-white">Start Date</label>
                    <input type="date" class="form-control">
                </div>
                <div class="col">
                    <label class="form-label text-white">End Date</label>
                    <input type="date" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label class="form-label text-white">Minimum Bid</label>
                    <input type="number" class="form-control" placeholder="Minimum Bid">
                </div>
                <div class="col">
                    <label class="form-label text-white">Bid Increment</label>
                    <input type="number" class="form-control" placeholder="Bid Increment">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label class="form-label text-white">Status</label>
                    <select class="form-select">
                        <option selected>Active</option>
                        <option>Inactive</option>
                    </select>
                </div>
                <div class="col">
                    <label class="form-label text-white">Category ID</label>
                    <input type="number" class="form-control" placeholder="Enter Category ID">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add Item</button>
        </form>
    </div>
</div>
