@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Contact Messages Table -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Contact Messages</h6>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Message</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>Alex</td>
                    <td>alex@example.com</td>
                    <td>I need help with bidding</td>
                    <td>2025-04-01</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
