@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Notifications Table -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">User Notifications</h6>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Message</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>john_doe</td>
                    <td>Your item has been approved</td>
                    <td>2025-04-01</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
