@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- reports.html -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Reports</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Report Title</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Monthly Earnings</td>
                            <td>2025-04-01</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Bid Summary</td>
                            <td>2025-04-01</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
